@import url('https://fonts.googleapis.com/css2?family=Carlito&display=swap');

body {
    font-family: 'Carlito', sans-serif;
}

.text-black {
    color: #000000;
}

.hover-green:hover,
.hover-green:focus {
    color: #1db954;
}

.custom-spacing {
    margin-right: 30px !important;
}

.custom-spacing-icon {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.custom-navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: white !important;
    border-bottom: 1px solid #333333;
}
