@import url('https://fonts.googleapis.com/css2?family=Carlito&display=swap');

body {
    font-family: 'Carlito', sans-serif;
}

.text-black {
    color: #000000;
}

.text-red {
    color: red;
}

.text-green {
    color: #1db954;
    align-self: center;
}

.custom-spacing {
    margin-right: 30px !important;
}

.custom-spacing-icon {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.custom-navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: white !important;
    border-bottom: 1px solid #e5e5e5;
}

.button-container {
    display: flex;
    justify-content: center !important;
    align-self: center !important;
}

.grey-container {
    background-color: #e5e5e5;
    flex-wrap: wrap;
}

.yellow-container {
    background-color: #ffef9c;
    flex-wrap: wrap;
}

.green-container {
    background-color: #1db954;
    flex-wrap: wrap;
    min-height: 30rem;
    color: white;
}

.green-button {
    background-color: #1db954 !important;
    border: 0.2rem solid #333333 !important;
    min-width: 10rem;
    border-radius: 10rem !important;
}

.green-button:disabled {
    background-color: grey !important;
    cursor: not-allowed !important;
}

.green-button:hover {
    background-color: #ffef9c !important;
    color: #000000 !important;
}

.green-button-sm {
    background-color: #1db954 !important;
    border: 0.1rem solid #333333 !important;
    border-radius: 0.3rem !important;
}

.green-button-sm:hover {
    background-color: #e5e5e5 !important;
    color: #000000 !important;
}

.green-button-sm-inverted {
    background-color: #e5e5e5 !important;
    color: #000000 !important;
    border: 0.1rem solid #333333 !important;
    border-radius: 0.3rem !important;
}

.green-button-sm-inverted:hover {
    background-color: #1db954 !important;
    color: #eeeeee !important;
}

.yellow-button {
    background-color: #ffef9c !important;
    border: 0.2rem solid #333333 !important;
    min-width: 10rem;
    border-radius: 10rem !important;
    color: black !important;
}

.yellow-button:hover {
    background-color: white !important;
    color: #000000 !important;
}

.flex-grow {
    flex: 1;
}

/* .dropdown-item {
    background-color: red !important;
} */

.form-input {
    min-width: 65rem;
}

@media (max-width: 1200px) {
    .form-input {
        min-width: 0;
        width: 100%;
    }
}

.form-input-sm {
    min-width: 40rem;
}

/* for smaller screens */
@media (max-width: 1000px) {
    .form-input-sm {
        min-width: 0;
        width: 100%;
    }
}

.users-connected-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 0.1rem solid white;
    background-color: #ffef9c;
    border-radius: 1rem;
    min-width: 15%;
    min-height: 15rem;
    padding: 1rem;
    max-width: 60%;
    text-align: left;
    overflow: auto;
}

.users-connected-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 5rem;
}

.users-connected-wrapper-no-margin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

/* For larger screens */
@media (min-width: 1000px) {
    .users-connected-wrapper {
        justify-content: flex-start;
    }
    .playlist-select {
        width: 100%;
    }
}

/* For smaller screens */
@media (max-width: 999px) {
    .users-connected-wrapper {
        align-items: center;
    }
    .users-connected-container {
        min-width: 60%;
        min-height: 10rem;
    }
}

.message-container {
    border: 0.1rem solid #e5e5e5;
    border-radius: 0.3rem;
    height: 30rem;
    width: 80%;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.checkout-form {
    min-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    background-color: white;
}

.stripe-input {
    background-color: white;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.stripe-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #32325d;
    color: #fff;
    cursor: pointer;
}

.stripe-button:disabled {
    background-color: #aaa;
}

.users-connected-container {
    overflow-y: auto;
}

@media (max-width: 992px) {
    .logout-item {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .custom-navbrand {
        margin-left: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 992px) {
    .home-container {
        flex-direction: row;
    }
    .chat-message-container {
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .home-container {
        flex-direction: column;
    }
    .chat-message-container {
        flex-direction: row;
    }
    .nav-item {
        border-top: 1px solid #e5e5e5;
        margin-bottom: 5px;
        padding-top: 5px;
    }
    .test {
        max-width: 20%;
    }
}
